*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: #334B35;
    height: 110px;
    display: flex;
    justify-content: space-evenly;
}
menu{
    display: inline-flex;
    align-items: flex-start;
    gap: 50px;
    margin: 39px 0;
}

menu p{
    color: #FFFFFF;
    font-family: Livvic;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
svg{
    width: 197.461px;
    height: 30.952px;
    flex-shrink: 0;
    margin: 38px 0;
}
.HeroSection{
    height: 954px;
    background-image: url("./media/HeroBG.png");
    background-repeat:round;
    background-size: cover;
    padding-left: 9.3%;
}
.text-button p{
    padding-top: 268px;
    color: #FFF;
    font-family: Livvic;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 120% */
}
.text-button h1{
    color: #F7C35F;
    font-family: Livvic;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    margin-top: 50px;
}
.text-button h1 img{
    position: absolute;
    width: 75px;
    height: 62px;
    flex-shrink: 0;
    bottom: 50px;
    left: 505px;
}
.text-button h2{
    color: #FFF;
    font-family: Livvic;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.text-button .discription{
    color: #FFF;
    font-family: Livvic;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 5px;
    margin-top: 50px;
    width: 60vw;
}
.text-button button{
    border-radius: 20px;
    background: #F7C35F;
    padding: 25px 50px;
    border: 0;
    margin-top: 30px;
    color: #1A1A1A;
    font-family: Livvic;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}
.text-button button:hover{
    background: #F6D086;
}
.text-button button:focus{
    background: #C58D21;;
}
.text-button button:active{
    background: #A16C06;
    color: #FFFFFF;
}


.Popular{
    height: 500px;
    background-color: #334b35;
    text-align: center;
    padding-top: 78px;
}

.Popular p{
    color: #FFF;
    font-family: Livvic;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    text-transform: uppercase;
}

.Popular h2{
    color: #FFF;
    font-family: Livvic;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 20px;
}

.Fruits{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 100px auto;
}
.Fruit:hover{
    background: #F7C35F;
}
.Fruit:hover p{
    color: #000;
}
.Fruit:focus{
    background: #6A8A6D;
}
.Fruit:active{
    background: #263C28;
}

.Fruit{
    padding: 33px 0px;
    text-align: center;
    background-color: #445945;
    border-radius: 15px;
    box-sizing: border-box;
    width: 183px;
    height: 177px;
}

.Fruit img{
    padding-bottom: 20px;
}

@media (max-width: 1600px){
    .Fruits{
        display: grid;
        grid-template-columns: 30% 30% 30%;
    }
    .Fruit{
        margin: 33px auto;
    }
    .Popular{
        height: 700px;
    }
}
@media (max-width: 900px){
    .Fruits{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .Fruit{
        margin: 33px auto;
    }
    .Popular{
        height: 950px;
    }
    nav{
        display: block;
        text-align: center;
        height: 100%;
        padding-bottom: 10px;
    }
    menu{
        display: block;
    }
    menu p{
        padding: 10px 0;
        margin: 5px 0;
        background-color: #445945;
    }
}
@media (max-width: 639px){
    .text-button h1 img{
        width: 40px;
        height: 30px;
        left: 370px;
        bottom: 35px;
    }
    .text-button h1{
        font-size: 50px;
    }
    .text-button h2{
        font-size: 40px;
    }
    .Fruits{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .Fruit{
        padding: 10px 0;
        margin: 33px auto;
        width: 91px;
        height: 88px;
    }
    .Fruit img{
        padding-bottom: 10px;
        width: 45%;
    }
    .Popular{
        height: 800px;
    }
    .Popular p{
        font-size: 15px;
    }
}
@media (max-width: 453px){
    .text-button h1 img{
        width: 40px;
        height: 30px;
        left: 110px;
        bottom: 35px;
    }
}

.Matters h3{
    padding: 284px 0;
    padding-left: 14vw;
    color: #FFF;
    font-family: Livvic;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 40%;
}

.Matters{
    background-image: url("media/Matters_bg.png");
    background-size:cover;
}
.Works{
    height: 853px;
    padding-top: 130px;
    text-align: center;
    background-color: #263c28;
}
.Works p{
    color: #FFF;
    font-family: Livvic;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    text-transform: uppercase;
}
.Works h3{
    color: #FFF;
    font-family: Livvic;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 20px;
    padding-bottom: 100px;
}
.Projects{
    display: grid;
    grid-template-columns: 9.5% 1fr 1fr 1fr 1fr 9.5%;
    gap: 31px;
    height: 350px;
    list-style-type: none;
}
.Projects h3{
    color: #F7C35F;
    font-family: Livvic;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding: 0;
}
.Projects p{
    color: #FFF;
    font-family: Livvic;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}
.Projects div{
    display: flex;
    justify-content: space-between;
}
.Projects .text{
    box-sizing: border-box;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    width: 150px;
    height: 330px;
    padding-bottom: 20px;
    text-align: start;
}
.Project{
    
    padding: 0 25px;
    border-radius: 10px;
    transition: all 0.5s;
}
.Project svg{
    width: 24px;
    height: 24px;
    align-self: end;
}
#pr1{
    background-image: url("media/Project1.png");
    grid-column: 2;
}
#pr2{
    background-image: url("media/Project2.png");
    grid-column: 3;
}
#pr3{
    background-image: url("media/Project3.png");
    grid-column: 4;
}
#pr4{
    background-image: url("media/Project4.png");
    grid-column: 5;
}
#pr5{
    background-color: url("media/Project1.png");
    display: none;
}
.carousel{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
#p1{
    width: 20px;
    height: 10px;
    border-radius: 50px;
    background: #F7C35F;
    margin: 0 5px;
}
#p2, #p3{
    width: 10px;
    height: 10px;
    background: #CCC;
    border-radius: 50px;
    margin: 0 5px;
}

.Project:hover{
    transform: translateY(-25px);
    border: 1px solid #F7C35F;
}

.Project:focus{
    border: 1px solid #C58D21;
}
.Project:focus svg path{
    fill: #C58D21;
}

.Project:active{
    width: 80%;
    height: 330px;
    border: 1px solid #A16C06;
}
.Project:active svg path{
    fill: #A16C06;
}

footer{
    background-color: #2a3b2a;
    height: 100px;
    color: #FFF;
    font-family: Livvic;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 250px;
}
footer div{
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;
}
.foot_b{
    border-radius: 50%;
    background: #F7C35F;
    padding: 12px 10px;
    border: 0;
    color: #1A1A1A;
    font-family: Livvic;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}
footer input{
    border-radius: 25px;
    background-color: #0000;
    border: 1px #777 solid;
    padding: 12px 10px;
}

.foot_b:hover{
    background: #F6D086;
}
.foot_b:focus{
    background: #C58D21;;
}
.foot_b:active{
    background: #A16C06;
    color: #FFFFFF;
}